.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1; 
}

.video-player video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}
